{
TOKEN = token @ discord.dev
PREFIX = !
OWNERID = Your discord id or ["id1", "id2", "id3"]
GUILDID = The guilds id where slash commands will be made

mongodb = mongodb url

hopperdb = hopperdb url
hopperdbauth = special key to authenticate with the Hopper Client DB
auth = hopper client auth key
apikey = hopper client api key @ api.hoppermc.xyz

headdbauth = Head DB Auth Key
mcsrvauth = mcsrv auth key
openai = open ai auth key
}
